*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Noto Sans TC', sans-serif;
}
html, body {
    background-color: rgb(173, 220, 252);
    margin: 1.25rem;
}

.question-container {
    text-align: center;
}

.btn {
    border-radius: 2rem;
    padding: .75rem;
    font-size: 1.5rem;;

}

.correct {
    color: green;
    font-size: 2rem;
}

.wrong { 
    color: red;
    font-size: 2rem;
}

#highscore {
    font-size: 1.25rem;
}
#time {
    font-size: 1.5rem;
}

#title  {
  font-family: 'Ranchers', cursive;
}

@media screen and (max-width: 768px) {
    .btn-secondary {
        font-size: .75rem;
    }
}